.jumbotron {
  text-align: center;
  background-image: url("../img/hand.gif");
  background-size: cover;
}

/* body {
  background-color: #d3d3d3;
} */


.navbar {
  text-align: center;
  color: black;
}

a:hover{
  color:lightblue;
}

a:active {
  color:grey;
}

p {
  text-align: center;
}

.git-panel {
  background-image: url("../img/dots.gif");
  background-size: cover;
}
.panel-heading {
  text-align: center;
}

.git-text {
  color: white;
}

.git-text-2 {
  color: white;
}

.resume {
  text-align: center;
}

.git-panel-text {
  text-align: center;
}

.center {
  text-align: center;
  list-style-position: inside;
}

.painting {
  float: right;
}

.painting-below {
  float: left;
}

.git-total {
  text-align: center;
  list-style-position: inside;
  margin: 0 auto;

}
.blue-square-container {
  text-align: center;
}
