.jumbotron {
  text-align: center;
  background-image: url("../img/hand.gif");
  background-size: cover;
}


.navbar {
  text-align: center;
  color:black;
}

a {
  color:grey;

}
h2 {
  text-align: center;
}

a:hover{
  color:#6376A1;
  transition: 1.0s;
}

a:active {
  color:black;
}

p {
  text-align: center;
}

.git-panel {
  background-image: url("../img/dots.gif");
  background-size: cover;
}
.panel-heading {
  text-align: center;
}

.git-text {
  color: white;
}

.git-text-2 {
  color: white;
}

.resume {
  text-align: center;
}

.git-panel-text {
  text-align: center;
}

.center {
  text-align: center;
  list-style-position: inside;
}

.painting {
  float: right;
}

.painting-below {
  margin-left: 20px;
}

.git-total {
  text-align: center;
  list-style-position: inside;
  margin: 0 auto;

}
.blue-square-container {
  text-align: center;
}
