.jumbotron {
  text-align: center;
  background-image: url("../img/clouds.gif");
  background-size: cover;
}

/* body {
  background-color: #d3d3d3;
} */


.navbar {
  text-align: center;
  color: black;
}

a:hover{
  color:lightblue;
}

a:active {
  color:grey;
}

/* p {
  text-align: center;
} */

.git-panel {
  background-image: url("../img/water2.gif");
  background-size: cover;
}
.panel-heading {
  text-align: center;
}

.git-text {
  color: white;
}

.git-text-2 {
  color: white;
}

.resume {
  text-align: center;
}
